* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  width: 100%;
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0.65))), url("./images/background.png") no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("./images/background.png") no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  background-attachment: fixed;
}

nav {
  padding: 30px 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  margin: 10px 30px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

nav .logo {
  width: 28px;
  cursor: pointer;
}

nav .menu__icon {
  width: 32px;
  cursor: pointer;
  margin: 0 20px;
}

.social__media {
  -webkit-transform: rotate(90deg) translate(-100%);
          transform: rotate(90deg) translate(-100%);
  -webkit-transform-origin: left;
          transform-origin: left;
  position: absolute;
  bottom: 0;
  left: 5%;
}

.social__media a {
  color: #fff;
  text-decoration: none;
  margin: 0 24px;
}

.line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 8%;
  width: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}

.row {
  width: 75%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  margin-top: 6%;
}

.row .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 16px;
  position: relative;
}

.row .info::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 100%;
  left: -16px;
  top: 0;
  background-color: rgba(255, 255, 255, 0.4);
}

.row .info span {
  margin: 16px 0;
}

.row .content .location__info {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.row span img {
  width: 16px;
  margin-right: 16px;
}

.row .content h1 {
  font-size: 72px;
  margin-top: 32px;
  margin-bottom: 16px;
}

.arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  bottom: 32px;
  width: 75%;
  left: 12.5%;
}

.arrow img {
  width: 28px;
  height: 28px;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */