* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #e3edf7;
}

.skill {
  width: 160px;
  height: 160px;
  position: relative;
}

.skill .outer__circle {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  padding: 20px;
  box-shadow: 6px 6px 10px -1px rgba($color: #000000, $alpha: 0.15),
    -6px -6px 10px -1px rgba($color: #fff, $alpha: 0.7);
}

.skill .outer__circle .inner__circle {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  box-shadow: inset 6px 6px 10px -1px rgba($color: #000000, $alpha: 0.15),
    inset -6px -6px 10px -1px rgba($color: #fff, $alpha: 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

#number {
  color: #555;
  font-weight: 600;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
}

circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472; // fills the shape
  stroke-dashoffset: 472; // unfill the shape
  animation: animate 2000ms ease-in forwards;
}

@keyframes animate {
  100% {
    stroke-dashoffset: 165;
  }
}
