* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  background: url("./Images/bg.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.container {
  position: relative;
  height: 400px;
  width: 400px;
}

.container .thumb {
  position: absolute;
  z-index: 1;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
}

.container .thumb li {
  width: 100px;
  height: 100px;
  margin: 10px 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.41);
  border-radius: 12px;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.container .thumb li img {
  width: 90%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container .thumb li:hover img {
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}

.container .imgBox {
  position: absolute;
  top: 0;
  right: 0;
  width: 350px;
  height: 100%;
  background: #ff0;
  background: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.41);
  border-radius: 12px;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  padding: 60px 20px;
  padding-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .imgBox h2 {
  color: #fff;
  letter-spacing: 1px;
}

.container .imgBox img {
  width: 80%;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.container .imgBox img:hover {
  -webkit-transform: scale(1.25) rotate(-15deg);
          transform: scale(1.25) rotate(-15deg);
}

.container .imgBox .size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .imgBox .size span {
  color: #fff;
  font-size: 1.2em;
  letter-spacing: 1px;
  margin-right: 5px;
}

.container .imgBox .size li {
  list-style: none;
  width: 30px;
  height: 30px;
  background: #fff;
  color: #1e6b7b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
  border-radius: 4px;
  font-weight: 600;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}

.container .imgBox .size li:hover {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.container .imgBox .btn {
  position: absolute;
  bottom: -30px;
  background: #fff;
  display: inline-block;
  text-decoration: none;
  padding: 15px 30px;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 24px;
  color: #1e6b7b;
  font-weight: 600;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}

.container .imgBox .btn:hover {
  letter-spacing: 2px;
}
/*# sourceMappingURL=style.css.map */