* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$main-bg: hsl(204, 64%, 94%);
$center-bg: #2980b9;
$bg: 71, 81, 82;
$center-boxshadow: 0 1.4rem 2.8rem rgba(0, 0, 0, 0.25),
  0 1rem 1rem rgba(0, 0, 0, 0.22);
$ball-shadow: 0 1.4rem 2.8rem rgba(0, 0, 0, 0.25),
  0 1rem 1rem rgba(0, 0, 0, 0.22);

html {
  font-size: 62.5%;
}

.main__div {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $main-bg;
}

.center__div {
  width: 60%;
  height: 60%;
  border: 0.5rem solid $center-bg;
  border-bottom-width: 5rem;
  box-shadow: $center-boxshadow;
  display: flex;
  justify-content: center;
}

.center__div span {
  width: 0.5rem;
  height: 70%;
  background-color: rgba(71, 81, 82, 0.7);
  margin: 0 2.75rem;
  position: relative;
  transform-origin: top;
}

.center__div span::after {
  content: "";
  position: absolute;
  width: 6rem;
  height: 6rem;
  background-color: rgb(71, 81, 82);
  border-radius: 50%;
  bottom: 0%;
  transform: translateX(-50%);
  box-shadow: $ball-shadow;
}

.center__div span:first-child {
  animation: left__wobble 2s linear infinite;
}

.center__div span:last-child {
  animation: right__wobble 2s linear infinite;
  animation-delay: 1s;
}

@keyframes left__wobble {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes right__wobble {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
